/* #region - cabecalho.css */

header {
    height: 72px;
}

header .logo {
    height: 100%;
    margin-left: 10px;
}

header .logo img {
    width: 13.5em;
}

header {
    padding: 0 60px;
}

nav a {
    margin: 0 1em;
}

.btn {
    background: none;
    border: none;
    font-weight: bold;
}

nav #btn-cadastro {
    background-color: var(--green);
    padding: 8px 25px;
    border-radius: 20px;
}

/* #endregion - cabecalho.css */