/* 
    Template: Login.js,
*/

:root {
    --yellow: #FFD34D;
    --green: #94EADB;
    --roxo: #D76AD9;
    --grey: #A3A0A0;
    --pink: #D76AD9;
    --red: #FF7289;
    --purple: #805cff;
}

/* #region - cabecalho.css */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 72px;
}

header .logo {
    height: 100%;
    margin-left: 10px;
}

header .logo img {
    width: 13.5em;
}

header {
    padding: 0 60px;
}

nav a {
    margin: 0 1em;
}

.btn {
    background: none;
    border: none;
    font-weight: bold;
}

nav #btn-cadastro {
    background-color: var(--green);
    padding: 8px 25px;
    border-radius: 20px;
}

/* #endregion - cabecalho.css */

/* #region - login.css */

button {
    border: none;
    cursor: pointer;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-log, .box-cad {
    width: 50%;
    height: 67vh;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    width: 30vw;
    border-radius: 15px;
}

.box-log, .box-cad img {
    width: 3.5em;
}

.d-box {
    height: 63vh;
}

.d-box h2 {
    font-size: 3.5em;
}

.d-box a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
}

.form-box input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 5px 5px;
    margin-top: 5px;
}

.form-box {
    margin-top: 20px;
}

.remind-box {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}

.remind-box a {
    margin-top: 5px;
}

.remind {
    font-size: 0.7em;
}

#remind_input {
    display: flex;
    justify-content: flex-start;
}

#remind_input {
    width: auto;
}

.roxo {
    background-color: var(--roxo);
}

.btn-log, .btn-cad {
    font-size: 1em;
    border-radius: 200px;
    color: white;
    margin-top: 2em;
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.rambo {
    height: 80px;
}

.hr-log {
    flex-direction: row;
}

.hr-log p {
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold;
}

.lnk-entrar {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
}

/* #endregion - login.css */

/* #region - rodape.css */

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-links a {
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 0.8em;
}

footer .footer-icons {
    color: black;
    font-size: 1.70em;
    padding-right: 15px;
}

footer {
    height: 4em;
    background-color: #F2C335;
}

footer img {
    height: 3em;
}

footer .footer-links a {
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 0.8em;
}

footer .footer-icons {
    color: black;
    font-size: 1.70em;
    padding-right: 15px;
}

footer {
    padding: 0 60px;
}

/* #endregion - rodape.css */