/* 
    Template: Login.js,
*/

/* #region - login.css */

main {
    height: calc(100vh - 136px);
}

.box-log, .box-cad {
    width: 50%;
    height: 67vh;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    width: 30vw;
    border-radius: 15px;
}

.box-log, .box-cad img {
    width: 3.5em;
}

.d-box {
    height: 63vh;
}

.d-box h2 {
    font-size: 3.5em;
}

.d-box a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
}

.form-box input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 5px 5px;
    margin-top: 5px;
}

.form-box {
    margin-top: 20px;
}

.remind-box {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}

.remind-box a {
    margin-top: 5px;
}

.remind {
    font-size: 0.7em;
}

#remind_input {
    display: flex;
    justify-content: flex-start;
}

#remind_input {
    width: auto;
}

.roxo {
    background-color: var(--roxo);
}

.btn-log, .btn-cad {
    font-size: 1em;
    border-radius: 200px;
    color: white;
    margin-top: 2em;
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.rambo {
    height: 80px;
}

.hr-log {
    flex-direction: row;
}

.hr-log p {
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold;
}

.lnk-entrar {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
}

/* #endregion - login.css */