/* #region navbar-user.css */

.dark-modal {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.356);
    z-index: 1000;
}

.aside-main {
    width: 4vw;
    height: 100vh;
    background-color: #FFD34D;
    position: fixed;
    transition: left 0.3s;
    z-index: 1001;
}

.aside-from-above .aside-logo img.aside-img-logo {
    margin-top: 10px;
    width: 3.5vw;
}

/* .aside-logo i {
    display: none;
}

.aside-logo i {
    display: block;
    margin-top: 10px;
    font-size: 28pt;
} */

.aside-from-above .aside-icons {
    margin: 2em 0;
}

.aside-icons .aside-sup-navigation {
    width: 100%;
    margin-bottom: 1.3em;
}

.aside-sup-navigation .aside-a-icons {
    text-decoration: none;
    width: 2vw;
    height: 4.3vh;
    transition: all .40s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .40s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
}

.aside-a-icons .aside-text-icons {
    font-size: 1em;
    color: black;
    font-weight: 600;
    overflow: hidden;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    cursor: default;
}

.aside-a-icons .aside-box-icons {
    border: 2px solid #FFD34D;
    padding: .2em;
    -webkit-box-shadow: 6px 5px 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 5px 3px 1px rgba(0,0,0,0.7);
    box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.7);
    background-color: #FFD34D;
}

.aside-sup-navigation .aside-a-icons:hover .aside-text-icons {
    opacity: 10;
}

.aside-icons img.aside-icons-box {
    position: absolute;
    width: 2vw;
}

.aside-icons img.aside-icons-box:hover {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.megaphone-text {
    position: relative;
    left: 82px;
}

.heart-text {
    position: relative;
    left: 118px;
}

.hand-shake-text {
    position: relative;
    left: 125px;
}

.aside-sup-navigation .megaphone-a{
    margin-bottom: .5em;
}

.aside-sup-navigation .megaphone-a:hover {
    width: 15vw;
}

.aside-sup-navigation .heart-a:hover {
    width: 22vw;
}

.aside-sup-navigation .hand-shake-a:hover {
    width: 30vw;
}

/* #region img.LogOut */

.aside-under .aside-bottom-navigation {
    width: 100%;
}

.aside-bottom-navigation .aside-a-btn {
    text-decoration: none;
    width: 2vw;
    height: 5.5vh;
    transition: all .40s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .40s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
}

.aside-a-btn .aside-text-logout {
    font-size: 1em;
    color: black;
    font-weight: 600;
    position: relative;
    left: 70.5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    cursor: default;
}

.aside-a-btn .aside-box-logout {
    border: 2px solid #FFD34D;
    padding: .2em;
    -webkit-box-shadow: 6px 5px 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 5px 3px 1px rgba(0,0,0,0.7);
    box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.7);
    background-color: #FFD34D;
}

.aside-bottom-navigation .aside-a-btn:hover {
    width: 12vw;
}

.aside-bottom-navigation .aside-a-btn:hover .aside-text-logout {
    opacity: 10;
}

.aside-logout img.aside-img-logout {    
    width: 1.5vw;
    position: absolute;
}

.aside-logout img.aside-img-logout:hover {
    -webkit-filter: opacity(40%);
    filter: opacity(40%);
}

/* #endregion */

.aside-profile {
    margin: 0.5em 0;
    margin-right: .2em;
}

.aside-profile img.aside-img-profile {
    height: 6.3vh;
    width: 3.3vw;
    border: 2px solid transparent;
    border-radius: 50%;
    display: block;
}

.aside-main .aside-thought-logo {
    display: none;
    width: 110px;
}

.aside-main .aside-thought-logo {
    display: block;
    width: 115px;
    margin: 10px 0;
}

.aside-show {
    display: flex;
    left: 0;
}

/* .aside-icon-box .fa-heart {
    padding: 0;
} */

/* #endregion */