/* #region - rodape.css */

.footer-home {
    background-color: #F2C335;
    height: 4em;
    padding: 0 4em;
}

.footer-home .logo-tw {
    height: 3em;
}

.footer-home .footer-icons {
    padding-right: 1em;
}

.footer-links .footer-icons .logo-rede-sociais {
    height: 3.5vh;
    width: 2.5vw;
}

/* #endregion - rodape.css */