<<<<<<< HEAD
=======
/* #region style.css */

>>>>>>> e78163e593aa15f5246d1737eed68b40579e2e94
:root {
    --yellow: #FFD34D;
    --green: #94EADB;
    --roxo: #D76AD9;
    --grey: #A3A0A0;
    --pink: #D76AD9;
    --red: #FF7289;
    --purple: #805cff;
}

* {
<<<<<<< HEAD
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
=======
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    cursor: pointer;
>>>>>>> e78163e593aa15f5246d1737eed68b40579e2e94
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD
button {
    border: none;
    cursor: pointer;
}
=======
.flex-column-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* #endregion */
>>>>>>> e78163e593aa15f5246d1737eed68b40579e2e94
